<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hidewidghtline</string>
			<key>label</key>
			<string>hidewidghtline</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>DisableSwitcherAppSuggestion</string>
			<key>label</key>
			<string>DisableSwitcherAppSuggestion</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>HideDots13</string>
			<key>label</key>
			<string>HideDots13</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hidedockbackground</string>
			<key>label</key>
			<string>hidedockbackground</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hidehomebar</string>
			<key>label</key>
			<string>hidehomebar</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hide3dline</string>
			<key>label</key>
			<string>hide3dline</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>dooubletaptolock</string>
			<key>label</key>
			<string>dooubletaptolock</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>	
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hideswitchlabel13</string>
			<key>label</key>
			<string>Hide Switch Label 13</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hideHSlabel13</string>
			<key>label</key>
			<string>Hide HomeScreen Label 13</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hide3dwidghts</string>
			<key>label</key>
			<string>Hide HomeScreen Widget / Disable 13</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable on lockscreen</string>
			<key>footerText</key>
			<string>The "Enable on lockscreen" option will also disable the Today view in the notification centre.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>kEnableOnHomescreen</string>
			<key>label</key>
			<string>Enable on homescreen</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>kEnableOnLockscreen</string>
			<key>label</key>
			<string>Enable on lockscreen</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>batterypercent</string>
			<key>label</key>
			<string>enable battery percentage</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>breadcrub</string>
			<key>label</key>
			<string>disable breadcrumbs</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hideupdatedot</string>
			<key>label</key>
			<string>hideupdatedot</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>enabledrap</string>
			<key>label</key>
			<string>enabledrap</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hideweathercource</string>
			<key>label</key>
			<string>hideweathercource</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>BatteryBuddy</string>
			<key>label</key>
			<string>BatteryBuddy</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>hidebreadcrumb</string>
			<key>label</key>
			<string>hidebreadcrumb</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourcompany.learn</string>
			<key>key</key>
			<string>autoDismiss</string>
			<key>label</key>
			<string>autoDismiss</string>
			<key>PostNotification</key>
			<string>com.yourcompany.learn.settingschanged</string>
		</dict>
						
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>	

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>			
		<dict>
			<key>action</key>
			<string>paypal:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>PayPal</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>height</key>
			<integer>50</integer>
			<key>label</key>
			<string>Twitter</string>
			<key>user</key>
			<string>iCrazeiOS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub (Source Code)</string>
		</dict>

	</array>
	<key>title</key>
	<string>AAA</string>
</dict>
</plist>
